<table class="dijit keyboard" style="display:none;" cellspacing="5" cellpadding="0">
	<tr>
		<td><div class="cell" dojoAttachPoint="key0">7</div></td>
		<td><div class="cell" dojoAttachPoint="key1">8</div></td>
		<td><div class="cell" dojoAttachPoint="key2">9</div></td>
		<td><div class="cell" dojoAttachPoint="key3">+</div></td>
	</tr>
	<tr>
		<td><div class="cell" dojoAttachPoint="key4">4</div></td>
		<td><div class="cell" dojoAttachPoint="key5">5</div></td>
		<td><div class="cell" dojoAttachPoint="key6">6</div></td>
		<td><div class="cell " dojoAttachPoint="key7">-</div></td>
	</tr>
	<tr>
		<td><div class="cell" class="cell" dojoAttachPoint="key8">1</div></td>
		<td><div class="cell" class="cell" dojoAttachPoint="key9">2</div></td>
		<td><div class="cell" class="cell" dojoAttachPoint="key10">3</div></td>
		<td><div class="cell" class="cell" dojoAttachPoint="key11">Back</div></td>
	</tr>
	<tr>
		<td><div class="cell" dojoAttachPoint="key12">*</div></td>
		<td><div class="cell" dojoAttachPoint="key13">0</div></td>
		<td><div class="cell" dojoAttachPoint="key14">.</div></td>
		<td><div class="cell enterKey" dojoAttachPoint="key15">Enter</div></td>
	</tr>
</table>